@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Almarena-Regular';
  src: url('/AlmarenaDisplayRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Almarena-Light';
  src: url('/AlmarenaDisplayLight.otf') format('opentype');
}

@font-face {
  font-family: 'Almarena-Bold';
  src: url('/AlmarenaDisplayBold.otf') format('opentype');
}

@font-face {
  font-family: 'Almarena-Light-normal';
  src: url('/AlmarenaLight.otf') format('opentype');
}


body {
  font-family: 'Almarena-Light', sans-serif;
}

/*.img-1:hover {
  cursor: pointer;
  width: 100px !important;
  height: 30px !important;
}*/

.img-1 {
  transition: transform 0.3s;
}

.img-1:hover {
  transform: scale(1.1);
}

.tooltip-container {
  position: relative;
}

.tooltip-content {
  position: absolute;
  top: -100%; /* Adjust the positioning of the tooltip content */
  left: 50%;
  transform: translateX(-50%) translateY(18%)!important;
  width: 300px;
  height: 515px;
  display: none;
  pointer-events: none;
}

.tooltip-container:hover .tooltip-content {
  display: block;
  pointer-events: auto;
}

img {
  display: inline;
}

.iframe-1 {
  left: -100px;
}

.main-content h1 {
  line-height: 3.2rem;
}

ul li p {
  font-family: 'Almarena-Light-normal';
}

ul li h2 {
  font-family: 'Almarena-Regular';
}